# Ignore artifacts:
build
coverage
pnpm-lock.yaml
node_modules
dist
.DS_Store
# Ignore environment files:
.env
.env.*

.changeset/
CLAUDE.md
tooling/typedoc/generated
docs/src/content/docs/reference/classes
docs/src/content/docs/reference/functions
docs/src/content/docs/reference/constants
docs/src/content/docs/reference/types
