:root {
  --sl-font: "Poppins", sans-serif;
  --sl-content-width: 1000px;
  --sl-sidebar-width: 300px;
}

code[dir="auto"] {
  transition: background-color 80ms ease-in-out;
  border-radius: 4px;
  padding: 0.2em 0.4em;

  &:hover {
    background-color: color-mix(in oklab, var(--sl-color-bg-inline-code) 90%, var(--sl-color-text));
  }
}

.sl-link-button:hover {
  filter: brightness(0.85);
  transition: all 100ms ease-in-out;
}
